<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerveceria 2025</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/cerveceria.css" />
  </head>

  <body>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Administrador de BEER X</a>

      </div>
    </nav>

    {{{body}}}

    <footer id="redes" class="bg-dark text-white text-center py-4">
      <h5>
        <p>&copy;Cerveceria "EL LARRY"</p>
      </h5>
      <p>Diseñado por Gabriel Sarubbi 2025</p>
      <div class="social-icons">
        <a href="https://www.Tiktok.com/tuusuario" target="_blank">
          <img src="/img/tiktok2.jpg" alt="TikTok" />TikTok
        </a>
        <a href="https://www.Instagram.com/tuusuario" target="_blank">
          <img src="/img/instagram.jpg" alt="Instagram" />Instagram
        </a>
        <a href="https://www.WhatsApp.com/tuusuario" target="_blank">
          <img src="/img/whatsapp.jpg" alt="Whatsapp" />WhatsApp
        </a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>

</html>